.vimeo-container {
    padding: 56.25% 0 0 0;
    position: relative;
}

.vimeo-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px
}


/* Animations */
.reveal {
    position: relative;
    opacity: 0;
    transition: 0.6s all ease;
}

.reveal.active {
    opacity: 1;
}

.active.fade-in {
    animation: fade-in 0.6s ease-in;
}

.active.fade-bottom {
    animation: fade-bottom 0.6s ease-in;
}

.active.fade-left {
    animation: fade-left 0.6s ease-in;
}

.active.fade-right {
    animation: fade-right 0.6s ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* tools */

.cursor-pointer{
	cursor: pointer;
}


	
	/* telas de conteudo */
	.col_card_trans_pri{
	margin: 0px 4px 0px -12px;
	}
	.col_card_trans{
	margin: 0px 4px 0px 0px;
	}
	.col_card_trans_ult{
	margin: 0px 0px 0px 0px;
	}
	.card_icon{
	height: 25%;
	position: relative;
	top: 100px;
	}
	.card_text{
	text-align: center;
	font-size:1.5em!important;
	position: relative;
	top: 120px;
	color: #004F81!important;
	}
	.btn_icon_card{
	font-size:3rem!important;
	position: relative;
	top: 100px;
	}
	.v-card-actions .v-btn {
	padding: 0 8px;
	position: absolute;
	top: 0px;
	left: 0;
	}
	h1 {
	font-family: 'montserrat'!important;
	font-size:2rem!important;
	line-height: 2em;
	}
	h2 {
	font-family: 'montserrat'!important;
	font-size:1.7rem!important;
	line-height: 1.2em;
	}
	p {
	font-family: 'montserrat'!important;
	}
	.v-card-conteudos{
	padding-left:6%!important;
	padding-right:6%!important;
	}
	.card_header{
	padding:0!Important;
	border-radius: 18px 18px 0px 0px!important;
	z-index: 10;
	}
	.header_text{
	position: absolute;
	top: 8%;
	left: 6%;
	width: 42%;
	}
	.logo_header{
	position: absolute;
	top: 30%;
	left: 80%;
	width: 15%;
	}
	.grade_header{
	max-width: 70%;
	}
	.box_dicas{
	border-radius: 20px;
	text-align:center;
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
	width:45%;
	}
	.img_shadow{
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	border-radius: 15px 40px 15px 15px !important;
	}
	.box_dicas_icon{
	font-size: 1.4rem;
	}
	.v-card-text {
	font-size:1rem!important;
	font-family: 'montserrat'!important;
	}
	.triangulo_v-card{
	font-size:6rem!important;
	color: #62C9CE!important;
	}
	.col_card_3_img_pri{
	margin: 0px 6px 0px -12px;
	}
	.col_card_3_img{
	margin: 0px 6px 0px 0px;
	}
	.col_card_3_img_ult{
	margin: 0px 0px 0px 0px;
	}
	.footericons{
	font-size: 3rem;
	color: white;
	}
	.footericontext{
	font-family: 'montserrat'!important;
	font-weight: 600;
	font-size: 0.8rem;
	color: white!important;
	}
	.v-carousel {
    height: auto!important;
	}
	.v-shit_carroussel{
	padding: 0px 0px 0px 0px!important;
	margin: 0px 0px 0px 0px!important;
	}
	.v-shit_interno_carroussel{
	width:50%;
    height:100%
	}
	
	.btn_expande_conteudos {
	padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto';
    font-size: 16px;
	letter-spacing: initial;
	}
	.shakeY {
	  animation-duration: calc(var(--animate-duration) * 1.5);
	  animation-name: shakeY;
	}
	.show_mobile{
		display: none;
		}
	@media screen and (max-width: 1277px){
		.box_dicas{
		width:70%!important;
		}
	}
	@media screen and (max-width: 768px){
		.show_mobile{
		display: block;
		}
		.show_desktop{
		display: none;
		}
		.v-card-conteudos{
		padding-left:30px!important;
		padding-right:30px!important;
		}
		.header_text{
		position: absolute;
		top: 10%;
		left: 6%;
		width: 60%;
		}
		.logo_header{
		position: absolute;
		top: 30%;
		left: 65%;
		width: 25%;
		}
		.grade_header{
		max-width: 100%;
		}
		h1 {
		font-size:1.7rem!important;
		line-height: 1.4em;
		}
		
		p {
		font-size:0.8rem!important;
		line-height: 1.2em;
		}
		.box_dicas{
		width:100%!important;
		}
		.gota_footer{
		width:40%
		}
		.v-shit_interno_carroussel{
		width:100%;
		height:100%
		}
		.footer{
		margin-bottom:115px!important;
		}
	}