
$primaryLight: #1B1F45;
$secondaryLight: #5BC6E8;
$infoLight: #62C9CE;

$primaryDark: #5BC6E8;
$secondarDark: #004F81;


$loginGradienteLightColor1: #1B1F45;
$loginGradienteLightColor2: #00A4E1;
$loginGradienteLightColor3: #5BC6E8;

$loginGradienteDarkColor1: #000000;
$loginGradienteDarkColor2: #0c0e20;
$loginGradienteDarkColor3: #12152e;


$primaryLightMono: #2f2f2f;


a {
    cursor: pointer;
}


.login-gradiente-light{
    background: linear-gradient(
        62deg, 
        $loginGradienteLightColor1 0%, 
        $loginGradienteLightColor2 50%, 
        $loginGradienteLightColor3 100%
    )
}

.login-gradiente-dark{
    background: linear-gradient(
        62deg, 
        $loginGradienteDarkColor1 0%, 
        $loginGradienteDarkColor2 50%, 
        $loginGradienteDarkColor3 100%
    )
    
}

.bg-img-graf{
    background-image: url("../assets/img/bg-login.png");
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .8; 
}



.background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    padding: 0;
}

.video-overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.video-overlay video{
    height: 100vh;
    width: 100vw;
    display: fixed;
    object-fit: cover;
    padding: 0;
}

.video-overlay:before{
    content: '';
    position: fixed;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    background: linear-gradient(45deg, rgba(0, 0, 0, .8) 0%, rgba(0, 28, 48, .8) 100%);
}


.vimeo-player{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    border-radius: 10px
}


.secondary-svg{
    filter: invert(56%) sepia(45%) saturate(3115%) hue-rotate(160deg) brightness(90%) contrast(101%);
}

.icon-dark-blue-svg{
    filter: invert(9%) sepia(69%) saturate(1330%) hue-rotate(209deg) brightness(90%) contrast(92%);
}

.icon-dark-blue-mono-svg{
    filter: invert(12%) sepia(51%) saturate(0%) hue-rotate(135deg) brightness(102%) contrast(91%);
}

.secondary-svg-mono{
    filter: brightness(0) saturate(100%) invert(75%) sepia(10%) saturate(13%) hue-rotate(1deg) brightness(87%) contrast(85%);
}

.white-svg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(81deg) brightness(150%) contrast(102%) !important;
}


.grayscale-filter {
    filter: grayscale(100%);
}





.container-light {
    background: rgb(100, 207, 241);
    background: linear-gradient(45deg, rgba(0, 164, 245, 1) 50%, rgba(75, 255, 239, 1) 100%) !important;
}
.container-light-mono {
    background: rgb(135, 135, 135);
    background: linear-gradient(45deg, rgba(135, 135, 135, 1) 50%, rgba(168, 168, 168, 1) 100%) !important;
}
.container-dark {
    background: rgb(0, 20, 40);
    background: linear-gradient(45deg, rgba(0, 20, 40, 1) 0%, rgba(0, 79, 135, 1) 100%) !important;
}

.container-dark-mono {
    background: rgb(0, 20, 40);
    background: linear-gradient(45deg, rgb(32, 32, 32) 0%, rgb(73, 73, 73) 100%) !important;
}

.img-icon-opacity-light {
    opacity: 0.2 !important;
}
.img-icon-opacity-dark {
    opacity: 0.04 !important;
}

.cursor-white{
    cursor: url("data:image/svg+xml,%3Csvg id='b78d2a49-c845-46e8-9e50-355b9c669c52' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 119.62 119.62'%3E%3Cpath d='M1.43,3.45,44.88,115.27a1.24,1.24,0,0,0,2.18.25L68.53,84.15l32.74,33.26a1.39,1.39,0,0,0,2,0l13.82-13.82a1.4,1.4,0,0,0,0-2L84.15,68.53,115.7,46.94a1.12,1.12,0,0,0-.23-2L3.45,1.43A1.56,1.56,0,0,0,1.43,3.45Z' transform='translate(-0.19 -0.19)' style='fill:%23fff'/%3E%3Cpath d='M118.94,99.88,87.58,68.53l28.66-19.61a3,3,0,0,0,1.28-2.81h0a3,3,0,0,0-1.88-2.44L4.26.39A3,3,0,0,0,.39,4.26L43.67,115.64a3,3,0,0,0,2.44,1.88,3,3,0,0,0,2.81-1.28L68.53,87.58l31.35,31.36a3,3,0,0,0,4.23,0l14.83-14.83a3,3,0,0,0,0-4.23ZM81.24,65.63h0A3,3,0,0,0,80,67.82a3,3,0,0,0,.87,2.39L112.6,102,102,112.6,70.21,80.82a3,3,0,0,0-2.11-.88h-.28a3,3,0,0,0-2.19,1.29l-18.44,27L8.41,8.41,108.2,47.19Z' transform='translate(-0.19 -0.19)' style='fill:%23111'/%3E%3C/svg%3E"), auto;
}

.cursor-black{
    cursor: url("data:image/svg+xml,%3Csvg id='feb10640-e6df-4ff1-80f8-d2be57fc7c19' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 119.62 119.62'%3E%3Cpath d='M1.43,3.45,44.88,115.27a1.24,1.24,0,0,0,2.18.25L68.53,84.15l32.74,33.26a1.39,1.39,0,0,0,2,0l13.82-13.82a1.4,1.4,0,0,0,0-2L84.15,68.53,115.7,46.94a1.12,1.12,0,0,0-.23-2L3.45,1.43A1.56,1.56,0,0,0,1.43,3.45Z' transform='translate(-0.19 -0.19)' style='fill:%23111'/%3E%3Cpath d='M118.94,99.88,87.58,68.53l28.66-19.61a3,3,0,0,0,1.28-2.81h0a3,3,0,0,0-1.88-2.44L4.26.39A3,3,0,0,0,.39,4.26L43.67,115.64a3,3,0,0,0,2.44,1.88,3,3,0,0,0,2.81-1.28L68.53,87.58l31.35,31.36a3,3,0,0,0,4.23,0l14.83-14.83a3,3,0,0,0,0-4.23ZM81.24,65.63h0A3,3,0,0,0,80,67.82a3,3,0,0,0,.87,2.39L112.6,102,102,112.6,70.21,80.82a3,3,0,0,0-2.11-.88h-.28a3,3,0,0,0-2.19,1.29l-18.44,27L8.41,8.41,108.2,47.19Z' transform='translate(-0.19 -0.19)' style='fill:%23fff'/%3E%3C/svg%3E"), auto;
}

.system-cursor-auto{
    cursor: auto !important;
}
